// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Poppins', sans-serif;
// font-family: 'Poppins', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #b2bdfb;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


// The original colour setting
$primary: $indigo;
$secondary: #c3bdbd;
$success: #1bcfb4;
$info: #504df2;
$warning: #fed713;
$danger: #fe7c96;
$light: #f8f9fa;
$dark: #3e4b5b;
