// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// FontAwesome Free Icons
@import '@fortawesome/fontawesome-free/css/all.min';

// Shades of indigo colours
$indigos: ( "100": $indigo-100, "200": $indigo-200, "300": $indigo-300, "400": $indigo-400, "500": $indigo-500, "600": $indigo-600, "700": $indigo-700, "800": $indigo-800, "900": $indigo-900) !default;

@each $key, $value in $indigos {
    .bg-#{$key}{
          background-color: $value !important;
    }

    .text-#{$key}{
      color: $value !important;
    }
  }
